{% extends 'base.html.twig' %}

{% block title %}User settings{% endblock %}

{% block body %}
    <div class="wrap m-30px-t">
        <div class="container">
            <div id="client-cabinet-mountpoint"></div>
        </div>
    </div>
{% endblock %}
